<nav>
  <div class="navbar-wrapper">
    <div class="m-header d-flex align-items-center justify-content-between px-3 py-3">
      <a [routerLink]="['/']" class="b-brand d-flex align-items-center gap-2">
        <img src="/assets/images/svg/logo-ar.svg" alt="Special Cards Logo" style="height: 42px; max-width: 170px; object-fit: contain;" />
      </a>
    </div>
    <app-nav-content
      (NavCollapsedMob)="navCollapseMob()"
      (SubmenuCollapse)="navSubmenuCollapse()"
      class="scroll-div w-100 compact"
    ></app-nav-content>
  </div>
</nav>
