.cursor-pointer {
  cursor: pointer;
}

.object-fit-cover {
  object-fit: cover;
}

.bg-light-success {
  background-color: rgba(40, 167, 69, 0.1) !important;
}

.bg-light-secondary {
  background-color: rgba(108, 117, 125, 0.1) !important;
}

.text-warning {
    color: #ffc107 !important;
}

.badge {
    font-weight: 500;
}
